#stats {
    width: 100vw;
    height: 19.2rem;
    background-color: $colorEmphasize;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

#stats .container {
    height: 100%;
    display: flex;
    align-items: center;
}

#stats .statsInfo {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
}

#stats .statsInfo .statsInfoNumber {
    font-size: 4.5rem;
    font-weight: 300;
}

#stats .statsInfo .statsInfoStat {
    text-transform: uppercase;
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}

#stats .statsInfo .statsInfoDescription {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    font-weight: 300;
}